// fonts
@font-face {
    font-family: "SF Pro Display Regular";
    src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: "SF Pro Display Bold";
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: "SF Pro Display Light";
    src: url(../fonts/SF-Pro-Display-Light.otf);
}

@font-face {
    font-family: "SF Pro Display Semibold";
    src: url(../fonts/SF-Pro-Display-Semibold.otf);
}


// fonts
.tcb-container {
    max-width: 1440px;
}

.tcb-header {
    display: flex;
    margin-bottom: 36px;

    @media (max-width: 575.98px) {
        display: block;
    }

    &--discover {
        padding-left: 65px;

        @media (max-width: 575.98px) {
            padding-left: 20px;

        }
    }

    &--endow {
        margin-bottom: 26px;
        padding-left: 65px;
        margin-top: 31px;

        @media (max-width: 575.98px) {
            padding-left: 20px;
            margin-top: 48px;
            margin-bottom: 18px;

        }
    }

    &--help {
        padding-left: 69px;
        margin-bottom: -15px;

        @media (max-width: 575.98px) {
            padding: 0;
            margin: 0;
        }
    }

    &__separate {
        width: 1px;
        background: #000000;
        height: 31px;
        margin-left: 33px;
        margin-top: 16px;
    }

    &__title {
        font-family: "SF Pro Display Light";
        font-size: 40px;
        font-weight: 300;
        line-height: 60px;
        letter-spacing: -0.7px;

        &--help {
            letter-spacing: 0px;

            @media (max-width: 575.98px) {
                margin-top: 30px;
                margin-left: 22px;
            }
        }
    }

}

// header
.header {
    background: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    transition: all .25s ease-in-out;
    background: #fff;
    width: 100%;
    top: 0;
    z-index: 8000;

    &__container {
        padding-left: 56px;
        padding-right: 48px;
        height: 72px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            width: 232px;
            height: 32px;
        }
    }

    &__right {
        display: flex;
        height: 100%;
    }

    &__hotline {
        align-self: center;
        margin-right: 46px;
    }

    &__login {
        width: 169px;
        height: 72px;
    }
}

.header-sp {
    justify-content: space-between;
    height: 53px;
    position: sticky;
    transition: all .25s ease-in-out;
    background: #fff;
    width: 100%;
    top: 0;
    z-index: 8000;

    &__logo {
        img {
            width: 35px;
            height: 46px;
            margin-top: 6px;
            margin-left: 16px;
        }
    }

    &__right {
        display: flex;
    }

    &__hotline {
        margin-right: 10px;

    }
}

.hotline-2 {
    margin-top: 15px;
    letter-spacing: 0.4px;
    margin-bottom: -2px;

    &__title {
        font-family: "SF Pro Display Bold";
        font-size: 12px;
        text-align: right;

        span {
            font-family: "SF Pro Display Light";
        }
    }
}

.hotline-3 {
    letter-spacing: 0.4px;

    &__title {
        font-family: "SF Pro Display Bold";
        font-size: 12px;
        text-align: right;

        span {
            font-family: "SF Pro Display Light";
        }
    }
}

.language-1 {
    display: none;

    &__title {
        font-family: "SF Pro Display Regular";
        font-size: 14px;
        margin-top: 15px;
        padding: 0 9.3px;
    }

    &__icon {
        height: 4.94px;
        width: 8px;
        margin-left: 17px;
        margin-top: -22px;
    }
}

.login-2 {
    background: #ED1C24;
    padding: 16px 14px;

    &__icon {
        width: 16px;
        height: 16px;
    }
}

.login-1 {
    background: #ED1C24;
    padding: 24px 16px;

    &:hover {
        text-decoration: none;
    }

    &__title {
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__icon {
        height: 16px;
        width: 16px;
        margin-left: 7px;
        margin-bottom: 5px;
    }
}

.hotline-1 {
    &__link {
        font-family: "SF Pro Display Bold";
        font-size: 16px;
        color: #000000;
        letter-spacing: 0.6px;

        &:hover {
            text-decoration: none;
            color: #ED1C24;
        }
    }

    &__title {
        margin-right: 13px;
    }

    &__separate {
        margin-right: 15px;
        margin-left: 13px;
    }
}

.btn-header-1 {
    display: flex;

    @media (max-width: 575.98px) {
        margin-top: -9px;
        margin-left: -32px;
    }

    &__title {
        font-family: "SF Pro Display Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 21px;
        margin-left: 28.6px;
        letter-spacing: 0.1px;
        color: #000000;

        @media (max-width: 575.98px) {
            display: block;
        }
    }

    &:hover {
        text-decoration: none;

        .btn-header-1__icon {
            transform: translateX(-50%);
        }
    }

    &__icon {
        margin-top: 18px;
        margin-left: 24px;
        transition: all .3s;
    }
}

// header

// hero
.tcb-hero {
    position: relative;

    &__img {
        max-width: 100%;
        margin: auto;
    }

}

.hero-1 {
    position: absolute;
    bottom: 0;

}

.btn-hero-1 {
    margin-bottom: 24px;
    margin-left: 167px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    font-family: "SF Pro Display Bold";
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    height: 61px;
    width: 291px;
    margin-left: 146px;
    display: flex;

    &:hover {
        background: #000000;
        border: 1px solid #000000;
        color: #FFFFFF;
    }

    @media (max-width: 575.98px) {
        height: 61px;
        margin-left: 27px;
        background: #8C2725;
    }

    &__icon {
        margin-left: 85px;
        margin-top: 21px;
    }

    &__title {
        margin-top: 12px;
        margin-left: 11px;
        letter-spacing: 0.3px;
    }
}

// hero

// features
.tcb-features {
    padding-top: 45px;
    padding-bottom: 38px;
    // 

    // 
    @media (max-width: 575.98px) {
        padding-top: 25px;
        // padding-left: 29px;
    }
}

.feature-1 {
    padding-left: 65px;
    padding-right: 42px;

    @media (max-width: 575.98px) {
        padding: 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        padding: 10px;




        @media (max-width: 575.98px) {
            grid-gap: 16px;
            overflow-x: auto;
            grid-auto-flow: column;
            grid-auto-columns: 280px;
            grid-template-columns: none;
        }

    }

    &__item {
        text-align: center;

        @media (max-width: 1199.98px) {
            padding: 10px;
        }

        @media (max-width: 575.98px) {
            height: 341px;
            width: 280px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            padding-top: 28px;

        }


    }

    &__title {
        font-family: "SF Pro Display Regular";
        font-size: 24px;
        font-weight: 400;

        &--1 {
            margin-top: 12px;
            margin-bottom: 18px;
        }

        &--2 {
            margin-top: 3px;
            margin-bottom: 19px;
            position: relative;
            margin-left: -15px;

            &::after {
                content: "";
                height: 1px;
                background: #DE1C24;
                width: 43px;
                position: absolute;
                left: calc(50% - 21.5px);
                bottom: -9px;
            }
        }

        &--3 {
            margin-top: 4px;
            margin-bottom: 17px;
        }
    }

    &__icon {
        &--3 {
            margin-top: -17px;
        }
    }

    &__subtitle {
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        &--2 {
            margin-left: -15px;
        }
    }
}

// features

// discover
.tcb-discover {
    background: #F7F6F3;
    padding-top: 51px;
    padding-bottom: 39px;

    @media (max-width: 575.98px) {
        padding-top: 27px;
        padding-bottom: 5px;
    }

}

.discover-1 {
    @media (max-width: 575.98px) {
        padding-top: 11px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        padding-left: 22px;
        padding-right: 31px;

        @media (max-width: 575.98px) {
            overflow-x: auto;
            grid-auto-flow: column;
            grid-auto-columns: calc(100%);
            grid-template-columns: none;
            padding: 0;
        }

    }

}

.discover-card-1 {
    height: 424px;
    border: 0;

    &:hover {
        cursor: pointer;
        transition: transform .2s ease-in-out;

        .discover-card-1__header:before {
            width: 73px;
            height: 127px;
            left: calc(50% - 36.5px);
            top: calc(50% - 63.5px);
            position: absolute;
            content: "";
            background-image: url("../images/discover-card-1.png");
            background-repeat: no-repeat;
            transition: transform .2s ease-in-out;
        }
    }

    &__header {
        position: relative;

        &:before {
            // width: 73px;
            // height: 127px;
            // left: calc(50% - 36.5px);
            // top: calc(50% - 63.5px);
            left: calc(50% - 27.5px);
            top: calc(50% - 54.5px);
            position: absolute;
            width: 55px;
            height: 109px;
            content: "";
            background-image: url("../images/discover-card-2.png");
            background-repeat: no-repeat;
            transition: transform .2s ease-in-out;
        }
    }

    @media (max-width: 575.98px) {
        height: auto;
    }

    &__title {
        font-family: "SF Pro Display Semibold";
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 1px;
        margin-bottom: 22px;
    }

    &__text {
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    &__body {
        padding: 22px 33px;
    }

    &__card {
        height: 424px;
        border: 0;
    }
}

// discover


// tcb-help

.help-2 {
    &__img {
        img {
            max-width: 100%;
        }
    }
}

.tcb-help {
    padding-top: 47px;
    padding-bottom: 84px;
    background: #F5F5F5;
    min-height: 539px;

    @media (max-width: 575.98px) {
        padding-top: 44px;
        min-height: auto;
    }
}

.container-help-1 {
    position: relative;
}

.help-banner-1 {
    position: absolute;
    left: -15px;
    top: 55px;

    @media (max-width: 1360px) {
        display: none !important;
    }

    &__img {
        height: 257px;
        width: 485px;
    }
}

.accordion-help-1 {
    width: 739.03px;
    margin-left: auto;
    margin-right: 106px;
    margin-top: 6px;

    @media (max-width: 1360px) {
        width: 100%;
    }

    @media (max-width: 575.98px) {
        width: 326px;
        margin: 0;
        padding-left: 27px;
        margin-top: 7px;

    }

    &__link {
        &.collapsed {
            &::after {
                right: 6px;
                top: 7px;
                position: absolute;
                width: 16px;
                height: 10px;
                content: "";
                background-image: url("../images/accordion-help-5.png");
                background-repeat: no-repeat;
                transition: transform .2s ease-in-out;

                @media (max-width: 575.98px) {
                    right: 24px;
                    top: 28px;
                }
            }
        }

        padding: 0;
        font-family: "SF Pro Display Bold";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #000000;
        letter-spacing: -0.3px;
        text-decoration: none;
        position: relative;
        padding-right: 10px;

        @media (max-width: 575.98px) {
            padding-right: 46px;
            padding-top: 23px;
            padding-bottom: 32px;

        }

        &::after {
            right: 6px;
            top: 7px;
            position: absolute;
            width: 16px;
            height: 10px;
            content: "";
            background-image: url("../images/accordion-help-4.png");
            background-repeat: no-repeat;
            transition: transform .2s ease-in-out;

            @media (max-width: 575.98px) {
                right: 24px;
                top: 28px;
            }
        }

        &:focus {
            box-shadow: none;
            text-decoration: none;
        }

        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }

    &__header {
        padding: 12.5px 0;
        border: 0;
        background: transparent;

        @media (max-width: 575.98px) {
            padding: 0;

        }
    }

    &__body {
        padding: 0;
        padding-top: 4px;
        padding-bottom: 19px;
        letter-spacing: -0.5px;

        @media (max-width: 575.98px) {
            // margin-top: -19px;

        }
    }

    &__card {
        border: 0;
        border-bottom: 1px solid #E3E4E6 !important;
        background: transparent;

        &:nth-last-child(3) {
            border-bottom: 0 !important;
        }
    }
}

.btn-help-1 {
    display: flex;
    border: 1px solid #404040;
    margin-left: 89px;
    margin-top: 40px;
    border-radius: 10px;
    width: 160px;
    height: 43px;
    padding: 0;

    @media (max-width: 575.98px) {
        margin-left: 22px;
        margin-top: 14px;
    }

    &__title {
        font-family: "SF Pro Display Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-left: 17px;
        margin-top: 9px;
    }

    &__icon {
        height: 18px;
        width: 18px;
        margin-top: 9px;
        margin-left: 13px;
        transition: all .3s;

    }

    &:hover {
        text-decoration: none;

        .btn-help-1__icon {
            transform: translateY(20%);
        }
    }
}

.icon-help-1 {
    margin-top: 11px;
    margin-left: 2px;
    cursor: pointer;

    @media (max-width: 575.98px) {
        // margin-top: -12px;
        margin-top: 20px;
        text-align: center;
    }

    img {
        width: 24px;
        height: 24px;
        transition: all .3s;

    }

    &:hover {
        img {
            transform: translateY(50%);
        }
    }
}

// tcb-help

// tcb-endow
.endow-2 {
    &__img {
        img {
            max-width: 100%;
        }
    }
}

.endow-1 {
    position: relative;

    @media (max-width: 575.98px) {
        padding: 0 10px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 612px;
        grid-gap: 43px;

        @media (max-width: 991.98px) {
            padding: 0 36px;
        }

        @media (max-width: 575.98px) {
            background: #FFFFFF;
            grid-template-columns: repeat(1, 1fr);
            border-radius: 8px;
            grid-gap: 0;
            padding: 0 36px;
            padding-right: 16px;

        }



    }

    &__title {
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #4D4D4D;
        margin-top: 14px;

        &--1 {
            @media (max-width: 575.98px) {

                margin-top: 13px;
            }
        }

        &--2 {
            @media (max-width: 575.98px) {

                margin-top: 13px;
            }
        }

        &--3 {
            @media (max-width: 575.98px) {

                margin-top: -1px;
                letter-spacing: -0.3px;
            }
        }

        &--4 {
            @media (max-width: 575.98px) {

                margin-top: 10px;
            }

        }
    }

    &__img {
        position: absolute;
        top: 28px;
        left: -15px;
    }

    &__icon {

        &--1 {
            @media (max-width: 575.98px) {

                margin-left: 13px;
                padding-top: 29px;
            }
        }

        &--2 {
            @media (max-width: 575.98px) {

                margin-top: 30px;
                margin-left: 7px;
            }
        }

        &--3 {
            @media (max-width: 575.98px) {

                margin-top: 31px;
            }
        }

        &--4 {
            @media (max-width: 575.98px) {

                margin-top: 31px;
                margin-left: 3px;
            }
        }
    }
}

.endow-banner-1 {
    padding-left: 16px;
    padding-right: 17px;
    margin-top: -11px;

    img {
        max-width: 100%;
    }
}

.endow-banner-2 {
    margin-left: 9px;
    margin-right: 9px;
    padding-top: 79px;
    background: #ffffff;

    &__img {
        max-width: 100%;
    }
}


.endow-bg-1 {
    background: url(../images/endow-bg-1.png);
    height: 968px;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: 0;
}

.endow-container {
    // position: relative;
    background: url(../images/endow-bg-1.png);
    height: 968px;
    background-size: cover;
    background-position: bottom;

    // position: absolute;
    // top: 0;
    @media (max-width: 1199.98px) {
        height: auto;
    }

    @media (max-width: 575.98px) {
        height: auto;
    }
}

.btn-endow-1 {
    display: flex;
    padding: 0;
    border: 0;
    margin-top: 9px;
    background: transparent;

    @media (max-width: 575.98px) {
        margin-top: 62px;
        margin-left: 55px;
    }

    &__title {
        font-family: "SF Pro Display Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    &__icon {
        height: 15.17px;
        width: 16px;
        margin-left: 16px;
        margin-top: 2px;
        transition: all .3s;

    }

    &:hover {
        text-decoration: none;

        .btn-endow-1__icon {
            transform: translateX(-50%);
        }
    }

}

// tcb-endow

// footer
.footer {
    background: #212121;
    padding: 48px 0;
    padding-left: 49px;
    padding-top: 32px;
    // padding-left: 2px;
}

.footer-logo-1 {
    &__img {
        height: 41px;
        width: 288px;
        margin-top: 17px;
    }
}

.footer-location-1 {
    font-family: "SF Pro Display Bold";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: end;
    margin-right: 52px;

    @media (max-width: 575.98px) {
        margin: 0;
        justify-content: start;
        margin-bottom: 28px;
    }

    &:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

    &__icon {
        width: 14.91px;
        height: 9.44px;
        margin-top: 7px;
        margin-left: 10px;
    }

}

.footer-social-1 {
    &__title {
        color: #A2A2A2;
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        display: flex;
        justify-content: end;
        margin-top: 23px;
        margin-right: 49px;

        @media (max-width: 575.98px) {
            margin-top: 33px;
            justify-content: start;
            font-size: 14px;
        }
    }

    &__list {
        display: flex;
        justify-content: end;
        margin-right: 47px;
        margin-top: 12px;

        @media (max-width: 575.98px) {
            justify-content: start;
            margin-left: -22px;
            margin-top: 11px;
        }
    }

    &__link {
        margin-left: 21px;
    }

    &__img {
        &--fb {
            height: 31.81px;
            width: 32px;
        }

        &--in {
            height: 32px;
            width: 32px;
        }

        &--ytb {
            height: 32px;
            width: 32px;
        }

        &--zalo {
            height: 32px;
            width: 32px;
        }
    }
}

.footer-line-1 {
    height: 3px;
    background: #333333;
    margin-right: 46px;
    margin-top: 65px;

    @media (max-width: 575.98px) {
        margin-right: 8px;
        margin-top: 31px;
    }
}

.footer-link-1 {
    margin-top: 37px;
    margin-left: 17px;

    @media (max-width: 575.98px) {
        margin-top: 31px;
        margin-left: -1px;
    }

    span {
        font-family: "SF Pro Display Regular";
        font-size: 14px;
        color: #A2A2A2;

        @media (max-width: 575.98px) {
            display: block;
        }

        a {
            color: #A2A2A2;
            margin-left: 29px;

            @media (max-width: 575.98px) {
                margin-left: 0px;
                margin-top: 8px;
                display: block;
            }
        }
    }
}

.footer-hotline-1 {
    display: flex;
    justify-content: end;
    margin-right: 53px;
    margin-top: 9px;

    &__title {
        font-family: "SF Pro Display Light";
        font-size: 12px;
        color: #C4C4C4;
        text-transform: uppercase;
        margin-right: 9.7px;
        letter-spacing: 0.3px;
    }

    a {
        font-family: "SF Pro Display Bold";
        font-size: 12px;
        color: #C4C4C4;
        letter-spacing: 0.4px;

    }

    &__separate {
        font-size: 12px;
        color: #C4C4C4;
        margin-left: 10px;
        margin-right: 10px;
    }
}

// footer
.tcb-form {
    background: #F3F3F3;
}

.form-1 {
    padding-left: 245px;
    padding-top: 35px;
    padding-right: 398px;
    padding-bottom: 58px;

    @media (max-width: 1199.98px) {
        padding-left: 10px;
        padding-right: 0;
        padding-top: 25px;
    }

    @media (max-width: 575.98px) {
        padding-left: 10px;
        padding-right: 0;
        padding-top: 25px;
    }
}

.form-text-4 {
    display: flex;
    justify-content: end;
    font-family: "SF Pro Display Regular";
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 12px;

    @media (max-width: 575.98px) {
        margin-top: 15px;
        margin-bottom: 7px;
    }

    span {
        margin-right: 7px;
        margin-left: 7px;

    }
}

.form-text-1 {
    font-family: "SF Pro Display Bold";
    font-size: 16px;
    margin-bottom: 21px;

    @media (max-width: 575.98px) {
        margin-bottom: 5px;
    }
}

.form-text-2 {
    font-family: "SF Pro Display Regular";
    font-size: 16px;
    margin-bottom: 16px;

    @media (max-width: 575.98px) {
        margin-bottom: 12px;
    }
}

.select2-search--dropdown {
    display: none !important;
}

.select2-container .select2-selection--single {
    background: #FFFFFF !important;
    border: 1px solid #E4E4E6 !important;
    border-radius: 6px !important;
    height: 45px !important;
    width: 100% !important;

}

.select2-container {
    width: 100% !important;
}

.select2-dropdown {
    background: #FFFFFF !important;
    border-radius: 6px !important;
    border: none !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 294px !important;
    padding: 7px;

}

.select2-results__option--selectable {
    border-bottom: 0.5px solid #EEEEEE !important;
    padding: 6px 13px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    content: "";
    background-image: url("../images/js-business-type-1.png");
    background-repeat: no-repeat;
    transition: transform .2s ease-in-out;
    width: 16px !important;
    height: 11px !important;
    top: 18px !important;
    right: 19px !important;
}

.select4 {
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 18px !important;
        right: 19px !important;
    }
}

.select3 {
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 23px !important;
        right: 23px !important;
    }
}


.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: "SF Pro Display Regular";
    font-size: 14px;
}

.select4 {
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 8px 16px !important;
    }
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #DCE7F3 !important;
    color: #000000 !important;
}

.form-text-3 {
    display: flex;
    font-family: "SF Pro Display Regular";
    font-size: 16px;
    justify-content: space-around;
    margin-bottom: 24px;

    @media (max-width: 575.98px) {
        margin-bottom: 34px;
    }

    &__title {
        min-width: 617px;
        max-width: 617px;
        letter-spacing: 0.9px;
        line-height: 22.4px;
        font-family: "SF Pro Display Regular";
        font-size: 16px;

        @media (max-width: 575.98px) {
            min-width: 239px;
            max-width: 239px;
            letter-spacing: 0.1px;
            line-height: 23.4px;

        }
    }


    &__cbs {
        display: flex;
        width: 100%;
        justify-content: end;
        padding-right: 16px;
        margin-top: -2px;
        align-items: center;

        .el-radio {
            &:last-child {
                margin-left: 14px;
            }
        }
    }
}

.el-radio-style {
    width: 22px !important;
    height: 22px !important;
    margin: 0;

    &::before {
        width: 22px !important;
        height: 22px !important;
        border: 1px solid #4D4D4D !important;
    }

    &:after {
        width: 14px !important;
        height: 14px !important;
        top: 4px !important;
        left: 4px !important;
        background: #D0D0D0 !important;
        display: block !important;
    }
}

.el-radio>input[type="radio"]:checked+.el-radio-style:after,
.el-checkbox>input[type="checkbox"]:checked+.el-checkbox-style:after {
    background: #4D4D4D !important;
}



.btn-1 {
    display: flex;
    height: 56px;
    width: 291px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 15px 25px;
    justify-content: space-between;
    font-family: "SF Pro Display Bold";
    font-size: 16px;
    font-weight: 700;

    @media (max-width: 575.98px) {
        margin: auto;
        margin-bottom: 34px;

    }

    &__icon {
        margin-top: 5px;
    }

    &:hover {
        background: #000000;
        color: #fff;
    }
}

.form-text-5 {
    &__line {
        background: #C7C7C7;
        height: 1px;
        width: 100%;
        margin-bottom: 20px;

    }

    &__note {
        font-family: "SF Pro Display Regular";
        font-size: 14px;
        line-height: 23.7px;
    }
}

// 
.alert2 {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border-left: 5px solid #ED1C24;
    padding-left: 34px;
    padding-right: 43px;
    padding-top: 26px;
    padding-bottom: 25px;

    &-title {
        font-family: "SF Pro Display Bold";
        font-size: 21px;
        line-height: 24px;
        letter-spacing: -0.4px;
        margin-bottom: 4px;

    }

    &-subtitle {
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        line-height: 31px;
    }

    // p
    &-p1 {
        // margin-top: 34px;
    }

    &-p2 {
        .alert2-subtitle {
            line-height: 24px;
        }
    }

    &-p3 {
        width: 569px;

        @media (max-width: 575.98px) {
            width: 100%;
            height: auto;
            margin: 0;
        }
    }

    &-p4 {
        padding-left: 40px;
        padding-bottom: 31px;

        ul {
            margin: 0;
            padding: 0;
        }
    }

    &-p5 {
        position: relative;

        .alert2-no {
            width: 29px;
            height: 29px;
            border: 1px solid #000000;
            border-radius: 50%;
            position: absolute;
            text-align: center;
            top: -15px;
            left: 11px;
        }
    }

    &-p6 {
        height: 165px;

        @media (max-width: 575.98px) {
            height: auto;
        }
    }

    &-p7 {
        height: 181px;

        @media (max-width: 575.98px) {
            height: auto;
        }
    }

    &-p8 {
        padding-left: 25px;
        padding-bottom: 31px;
    }

    &-p9 {
        width: 569px;
        height: 104px;
        margin-left: 19px;

        @media (max-width: 575.98px) {
            width: 100%;
            height: auto;
            margin: 0;

        }
    }

}

.container3 {
    // padding-left: 429px;
    width: 1052px;
    margin: auto;

    @media (max-width: 991.98px) {
        width: 100%;
    }

    @media (max-width: 575.98px) {
        width: 100%;
    }
}

.container4 {
    padding-left: 43px;
    padding-top: 58px;

    @media (max-width: 575.98px) {
        padding-left: 0;
    }
}

.container5 {}

.container6 {
    width: 316px;
}

.img2 {
    margin-bottom: 24px;
}

.text3 {
    &-item {
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        line-height: 33px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.btn2 {
    display: flex;
    height: 56px;
    width: 291px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 15px 25px;
    justify-content: space-between;
    font-family: "SF Pro Display Bold";
    font-size: 16px;
    font-weight: 700;

    @media (max-width: 575.98px) {
        margin: auto;
        margin-bottom: 34px;

    }

    &-icon {
        margin-top: 5px;
    }

    &:hover {
        background: #000000;
        color: #fff;
    }

    // p
    &-p1 {
        margin-top: 44px;
    }
}

.step2 {
    padding-top: 34px;
    padding-bottom: 58px;
    background: #F3F3F3;
}

.form2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 13px;


    @media (max-width: 575.98px) {
        grid-template-columns: repeat(1, 1fr);
    }

    &-item {
        &:nth-last-child(2) {
            margin: 0 !important;
        }

        &:nth-last-child(1) {
            margin: 0 !important;
        }
    }

    &-p1 {
        margin-top: 83px;

        .form2-item {
            margin-bottom: 20px;
        }
    }
}

.mp1 {
    padding: 0 !important;
    margin-top: 35px;
    margin-bottom: 40px;
}

.label2 {
    font-family: "SF Pro Display Bold";
    font-size: 16px;

    span {
        color: #ED1C24;
    }
}

.checkbox2 {
    font-family: "SF Pro Display Regular";
    font-size: 14px;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #ccc;
        border-radius: 5px;
    }

    /* On mouse-over, add a grey background color */
    &:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked~.checkmark {
        background-color: #ED1C24;

    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.input2 {
    background: #FFFFFF;
    border: 1px solid #E4E4E6;
    border-radius: 6px;
    font-family: "SF Pro Display Regular";
    font-size: 16px;
    line-height: 22px;
    height: 55px;
    padding-left: 26px;
    padding-right: 26px;
}

.select3 {
    .select2-selection--single {
        height: 55px !important;
    }

    .select2-selection__rendered {
        font-family: "SF Pro Display Regular" !important;
        font-size: 16px !important;
        padding: 12.6px 18px !important;
        padding-left: 31.3px !important;
        padding-right: 17px !important;
    }
}

.btn3 {
    width: 100%;
    height: 57px;
    background: #000000;
    color: #FFFFFF;

}

.gird2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px;

    @media (max-width: 575.98px) {
        grid-template-columns: repeat(1, 1fr);
    }

    &-item {}

    &-p1 {
        margin-bottom: 37px;
    }
}



.btn4 {
    display: flex;
    height: 56px;
    width: 291px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 15px 25px;
    justify-content: space-between;
    font-family: "SF Pro Display Bold";
    font-size: 16px;
    font-weight: 700;

    @media (max-width: 575.98px) {
        margin: auto;
        margin-bottom: 34px;

    }

    &__icon {
        margin-top: 5px;
    }

    &:hover {
        background: #000000;
        color: #fff;
    }

    &-p1 {
        margin-top: 47px;
        margin-left: 16px;
        margin-bottom: 40px;
    }

    &-p2 {
        margin-bottom: 60px;
        margin-top: 33px;
    }
}

.container {
    &7 {
        padding-left: 133px;
        padding-top: 0;
        padding-right: 122px;
        padding-bottom: 0;

        @media (max-width: 575.98px) {
            padding: 0;

        }
    }

    &8 {
        padding-top: 28px;
        padding-bottom: 58px;
        background: #F3F3F3;
    }


}

.text {
    &1 {
        font-family: "SF Pro Display Bold";
        font-size: 21px;
        color: #000000;

        &-p1 {
            margin-left: 17.1px;
            letter-spacing: 0.3px;
        }
    }

    &2 {
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        color: #000000;

        &-p1 {
            margin-top: 2px;
            margin-left: 19px;
        }

        &-p2 {
            margin-left: 18px;
            // margin-top: -8px;
            margin-bottom: 27px;
            letter-spacing: 0.3px;
        }

        &-p3 {
            color: #DE1C24;
        }
    }
}

.accordion {
    &2 {
        margin: auto;
        width: 100%;

        &-p1 {
            margin-top: 22px;

            >.card {
                border: 0;
                background: transparent;
                border-top: 1px solid #FFFFFF;

                >.card-header {
                    height: 74px;
                    padding: 0;
                    background: transparent;
                    border: 0;

                    button {
                        padding: 19px 17px;

                        &::after {
                            left: 293px;
                            top: 31px;
                            position: absolute;
                            width: 16px;
                            height: 10px;
                            content: "";
                            background-image: url("../images/accordion-help-4.png");
                            background-repeat: no-repeat;
                            transition: transform .2s ease-in-out;
                        }

                        &.collapsed {
                            &::after {
                                left: 293px;
                                top: 31px;
                                position: absolute;
                                width: 16px;
                                height: 10px;
                                content: "";
                                background-image: url("../images/accordion-help-5.png");
                                background-repeat: no-repeat;
                                transition: transform .2s ease-in-out;
                            }
                        }

                        &:focus {
                            box-shadow: none;
                            text-decoration: none;
                        }

                        &:hover {
                            color: #000000;
                            text-decoration: none;
                        }
                    }
                }

                .card-body {
                    padding: 0;
                }
            }
        }
    }
}