// fonts
@font-face {
    font-family: "SF Pro Display Regular";
    src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: "SF Pro Display Bold";
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: "SF Pro Display Light";
    src: url(../fonts/SF-Pro-Display-Light.otf);
}

@font-face {
    font-family: "SF Pro Display Semibold";
    src: url(../fonts/SF-Pro-Display-Semibold.otf);
}


// fonts
.tcb-container {
    max-width: 1440px;
}

.tcb-header {
    display: flex;
    margin-bottom: 36px;

    &--discover {
        padding-left: 65px;
    }

    &--endow {
        margin-bottom: 26px;
        padding-left: 65px;
        margin-top: 31px;
    }

    &--help {
        padding-left: 69px;
        margin-bottom: -15px;
        margin-top: 47px;
    }

    &__title {
        font-family: "SF Pro Display Light";
        font-size: 40px;
        font-weight: 300;
        line-height: 60px;
        letter-spacing: -0.7px;

        &--help {
            letter-spacing: 0px;
        }
    }

    &__subtitle {
        font-family: "SF Pro Display Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 21px;
        margin-left: 28.6px;
        letter-spacing: 0.1px;
        color: #000000;
    }

    &__separate {
        width: 1px;
        background: #000000;
        height: 31px;
        margin-left: 33px;
        margin-top: 16px;
    }

    &__icon {
        margin-top: 18px;
        margin-left: 24px;
    }
}

// header
.header {
    background: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    transition: all .25s ease-in-out;
    background: #fff;
    width: 100%;
    top: 0;
    z-index: 8000;

    &__container {
        padding-left: 56px;
        padding-right: 48px;
        height: 72px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            width: 232px;
            height: 32px;
        }
    }

    &__right {
        display: flex;
        height: 100%;
    }

    &__hotline {
        align-self: center;
    }

    &__login {
        width: 169px;
        height: 72px;
    }
}

.login-1 {
    background: #ED1C24;
    padding: 24px 16px;

    &__title {
        font-family: "SF Pro Display";
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__icon {
        height: 16px;
        width: 16px;
    }
}

// header

// hero
.tcb-hero {
    position: relative;

    img {
        max-width: 100%;
    }

}

.hero-1 {
    position: absolute;
    bottom: 0;

}

.btn-hero-1 {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #FFFFFF;
    border-bottom: 0;
    font-family: "SF Pro Display Bold";
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    height: 58px;
    width: 291px;
    margin-left: 146px;
    display: flex;

    &__icon {
        margin-left: 85px;
        margin-top: 21px;
    }

    &__title {
        margin-top: 12px;
        margin-left: 11px;
        letter-spacing: 0.3px;
    }
}

// hero

// features
.tcb-features {
    padding-top: 54px;
    padding-bottom: 49px;
}

.feature-1 {
    padding-left: 65px;
    padding-right: 42px;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
    }

    &__item {
        text-align: center;
    }

    &__title {
        font-family: "SF Pro Display Regular";
        font-size: 24px;
        font-weight: 400;

        &--1 {
            margin-top: 12px;
            margin-bottom: 18px;
        }

        &--2 {
            margin-top: 3px;
            margin-bottom: 19px;
            position: relative;
            margin-left: -15px;

            &::after {
                content: "";
                height: 1px;
                background: #DE1C24;
                width: 43px;
                position: absolute;
                left: calc(50% - 21.5px);
                bottom: -9px;
            }
        }

        &--3 {
            margin-top: 4px;
            margin-bottom: 17px;
        }
    }

    &__icon {
        &--3 {
            margin-top: -17px;
        }
    }

    &__subtitle {
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        &--2 {
            margin-left: -15px;
        }
    }
}

// features

// discover
.tcb-discover {
    background: #F7F6F3;
    padding-top: 51px;
    padding-bottom: 39px;
}

.discover-1 {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        padding-left: 22px;
        padding-right: 31px;
    }

}

.discover-card-1 {
    height: 424px;

    &__title {
        font-family: "SF Pro Display Semibold";
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 1px;
        margin-bottom: 22px;
    }

    &__text {
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    &__body {
        padding: 22px 33px;
    }

    &__card {
        height: 424px;
        border: 0;
    }
}

// discover


// tcb-help
.help-1 {
    position: relative;
}

.help-banner-1 {
    position: absolute;
    left: -15px;
    top: 61px;

    &__img {
        height: 257px;
        width: 485px;
    }
}

.accordion-help-1 {
    width: 739.03px;
    margin-left: auto;
    margin-right: 106px;
    margin-top: 6px;

    &__link {
        padding: 0;
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #000000;
    }

    &__header {
        padding: 12.5px 0;
    }
}

.btn-help-1 {
    display: flex;
    border: 1px solid #404040;

    &__icon {
        height: 11.38px;
        width: 12px;
    }
}

// tcb-help

// tcb-endow
.tcb-endow {}

.endow-1 {
    position: relative;

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 612px;
        grid-gap: 43px;
    }

    &__title {
        font-family: "SF Pro Display Regular";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #4D4D4D;
        margin-top: 14px;
    }

    &__img {
        position: absolute;
        top: 28px;
        left: -15px;
    }
}

.endow-banner-1 {
    padding-left: 16px;
    padding-right: 17px;
    margin-top: -11px;

    img {
        max-width: 100%;
    }
}

.endow-bg-1 {
    background: url(../images/endow-bg-1.png);
    height: 968px;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: 0;
}

.endow-container {
    // position: relative;
    background: url(../images/endow-bg-1.png);
    height: 968px;
    background-size: cover;
    background-position: bottom;
    // position: absolute;
    // top: 0;
}

.btn-endow-1 {
    display: flex;
    padding: 0;
    border: 0;
    margin-top: 9px;
    background: transparent;

    &__title {
        font-family: "SF Pro Display Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    &__icon {
        height: 15.17px;
        width: 16px;
        margin-left: 16px;
        margin-top: 2px;
    }

}

// tcb-endow

// footer
.footer {
    background: #212121;
}

.footer-logo-1 {
    &__img {
        height: 41px;
        width: 288px;
    }
}

.footer-location-1 {
    font-family: "SF Pro Display Bold";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;

    &:hover {
        color: #FFFFFF;
    }

    &__icon {
        width: 14.91px;
        height: 9.44px;
    }
}

.footer-social-1 {
    &__img {
        &--fb {
            height: 31.81px;
            width: 32px;
        }

        &--in {
            height: 32px;
            width: 32px;
        }

        &--ytb {
            height: 32px;
            width: 32px;
        }

        &--zalo {
            height: 32px;
            width: 32px;
        }
    }
}

// footer