@font-face {
  font-family: "SF Pro Display Regular";
  src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
  font-family: "SF Pro Display Light";
  src: url(../fonts/SF-Pro-Display-Light.otf);
}

@font-face {
  font-family: "SF Pro Display Semibold";
  src: url(../fonts/SF-Pro-Display-Semibold.otf);
}

.tcb-container {
  max-width: 1440px;
}

.tcb-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

@media (max-width: 575.98px) {
  .tcb-header {
    display: block;
  }
}

.tcb-header--discover {
  padding-left: 65px;
}

@media (max-width: 575.98px) {
  .tcb-header--discover {
    padding-left: 20px;
  }
}

.tcb-header--endow {
  margin-bottom: 26px;
  padding-left: 65px;
  margin-top: 31px;
}

@media (max-width: 575.98px) {
  .tcb-header--endow {
    padding-left: 20px;
    margin-top: 48px;
    margin-bottom: 18px;
  }
}

.tcb-header--help {
  padding-left: 69px;
  margin-bottom: -15px;
}

@media (max-width: 575.98px) {
  .tcb-header--help {
    padding: 0;
    margin: 0;
  }
}

.tcb-header__separate {
  width: 1px;
  background: #000000;
  height: 31px;
  margin-left: 33px;
  margin-top: 16px;
}

.tcb-header__title {
  font-family: "SF Pro Display Light";
  font-size: 36px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -0.7px;
}

.tcb-header__title--help {
  letter-spacing: 0px;
}

@media (max-width: 575.98px) {
  .tcb-header__title--help {
    margin-top: 30px;
    margin-left: 22px;
  }
}

.header {
  background: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 8000;
}

.header__container {
  padding-left: 56px;
  padding-right: 48px;
  height: 72px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 232px;
  height: 32px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__hotline {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 46px;
}

.header__login {
  width: 169px;
  height: 72px;
}

.header-sp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 53px;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 8000;
}

.header-sp__logo img {
  width: 35px;
  height: 46px;
  margin-top: 6px;
  margin-left: 16px;
}

.header-sp__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-sp__hotline {
  margin-right: 10px;
}

.hotline-2 {
  margin-top: 15px;
  letter-spacing: 0.4px;
  margin-bottom: -2px;
}

.hotline-2__title {
  font-family: "SF Pro Display Bold";
  font-size: 12px;
  text-align: right;
}

.hotline-2__title span {
  font-family: "SF Pro Display Light";
}

.hotline-3 {
  letter-spacing: 0.4px;
}

.hotline-3__title {
  font-family: "SF Pro Display Bold";
  font-size: 12px;
  text-align: right;
}

.hotline-3__title span {
  font-family: "SF Pro Display Light";
}

.language-1 {
  display: none;
}

.language-1__title {
  font-family: "SF Pro Display Regular";
  font-size: 14px;
  margin-top: 15px;
  padding: 0 9.3px;
}

.language-1__icon {
  height: 4.94px;
  width: 8px;
  margin-left: 17px;
  margin-top: -22px;
}

.login-2 {
  background: #ED1C24;
  padding: 16px 14px;
}

.login-2__icon {
  width: 16px;
  height: 16px;
}

.login-1 {
  background: #ED1C24;
  padding: 24px 16px;
}

.login-1:hover {
  text-decoration: none;
}

.login-1__title {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.login-1__icon {
  height: 16px;
  width: 16px;
  margin-left: 7px;
  margin-bottom: 5px;
}

.hotline-1__link {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.6px;
}

.hotline-1__link:hover {
  text-decoration: none;
  color: #ED1C24;
}

.hotline-1__title {
  margin-right: 13px;
  font-family: "SF Pro Display Regular";
  font-size: 16px;
}

.hotline-1__separate {
  margin-right: 15px;
  margin-left: 13px;
}

.btn-header-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .btn-header-1 {
    margin-top: -9px;
    margin-left: -32px;
  }
}

.btn-header-1__title {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 21px;
  margin-left: 28.6px;
  letter-spacing: 0.1px;
  color: #000000;
}

@media (max-width: 575.98px) {
  .btn-header-1__title {
    display: block;
  }
}

.btn-header-1:hover {
  text-decoration: none;
}

.btn-header-1:hover .btn-header-1__icon {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn-header-1__icon {
  margin-top: 18px;
  margin-left: 24px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.tcb-hero {
  position: relative;
  background: url(../images/bg-hero.png);
  background-size: cover;
  background-position: bottom;
}

.tcb-hero__container {
  width: 1223px;
  max-width: 100%;
  margin: auto;
  position: relative;
}

.tcb-hero__img2 {
  max-width: 100%;
  width: 100%;
}

.tcb-hero__img {
  max-width: 100%;
  margin: auto;
}

.btn-hero-1 {
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  width: 291px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 31px;
  padding: 17.5px 23px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-hero-1:hover {
  background: #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .btn-hero-1 {
    width: auto;
    padding: 9.5px 13px;
    margin-bottom: 0;
    bottom: 18px;
  }
}

@media (max-width: 575.98px) {
  .btn-hero-1 {
    height: 61px;
    margin-left: 27px;
    background: transparent;
  }
}

.btn-hero-1__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn-hero-1__title {
  letter-spacing: 0.3px;
  padding-right: 10px;
}

.tcb-features {
  padding-top: 45px;
  padding-bottom: 38px;
}

@media (max-width: 575.98px) {
  .tcb-features {
    padding-top: 25px;
  }
}

@media (max-width: 575.98px) {
  .feature-1 {
    padding: 0;
  }
}

.feature-1__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  padding: 10px;
}

.feature-1__list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 575.98px) {
  .feature-1__list {
    grid-gap: 16px;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 280px;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.feature-1__line {
  display: none;
  content: "";
  height: 1px;
  background: #DE1C24;
  width: 43px;
  position: absolute;
  left: calc(50% - 21.5px);
  bottom: -9px;
}

.feature-1__item {
  text-align: center;
  position: relative;
}

.feature-1__item:hover .feature-1__line {
  display: block;
}

@media (max-width: 1199.98px) {
  .feature-1__item {
    padding: 10px;
  }
}

@media (max-width: 575.98px) {
  .feature-1__item {
    height: 341px;
    width: 280px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-top: 28px;
  }
}

.feature-1__title {
  font-family: "SF Pro Display Regular";
  font-size: 24px;
  font-weight: 400;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.feature-1__title--1 {
  margin-top: 12px;
  margin-bottom: 18px;
}

.feature-1__title--2 {
  margin-top: 3px;
  margin-bottom: 19px;
  position: relative;
}

.feature-1__title--3 {
  margin-top: 4px;
  margin-bottom: 17px;
}

.feature-1__icon--3 {
  margin-top: -17px;
}

.feature-1__subtitle {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #616161;
}

.feature-1__subtitle--2 {
  margin-left: -15px;
}

.tcb-discover {
  background: #F7F6F3;
  padding-top: 51px;
  padding-bottom: 39px;
}

@media (max-width: 575.98px) {
  .tcb-discover {
    padding-top: 27px;
    padding-bottom: 47px;
  }
}

@media (max-width: 575.98px) {
  .discover-1 {
    padding-top: 11px;
  }
}

.discover-1__item {
  background: #ffff;
}

.discover-1__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  padding-left: 22px;
  padding-right: 31px;
}

.discover-1__list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 575.98px) {
  .discover-1__list {
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%);
    -ms-grid-columns: none;
        grid-template-columns: none;
    padding: 0;
  }
}

.discover-card-1 {
  height: 424px;
  border: 0;
}

.discover-card-1:hover {
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.discover-card-1:hover .discover-card-1__header:before {
  width: 73px;
  height: 127px;
  left: calc(50% - 36.5px);
  top: calc(50% - 63.5px);
  position: absolute;
  content: "";
  background-image: url("../images/discover-card-1.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.discover-card-1__header {
  position: relative;
}

.discover-card-1__header:before {
  left: calc(50% - 27.5px);
  top: calc(50% - 54.5px);
  position: absolute;
  width: 55px;
  height: 109px;
  content: "";
  background-image: url("../images/discover-card-2.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

@media (max-width: 1360px) {
  .discover-card-1 {
    height: auto;
  }
}

@media (max-width: 575.98px) {
  .discover-card-1 {
    height: auto;
  }
}

.discover-card-1__title {
  font-family: "SF Pro Display Semibold";
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.discover-card-1__text {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #616161;
}

.discover-card-1__body {
  padding: 22px 33px;
}

.discover-card-1__card {
  height: 424px;
  border: 0;
}

.help-2__img img {
  max-width: 100%;
}

.tcb-help {
  padding-top: 47px;
  padding-bottom: 84px;
  background: #F5F5F5;
  min-height: 539px;
}

@media (max-width: 575.98px) {
  .tcb-help {
    margin-top: 44px;
    min-height: auto;
    padding-top: 0;
  }
}

.container-help-1 {
  position: relative;
}

.help-banner-1 {
  position: absolute;
  left: -15px;
  top: 55px;
}

.help-banner-1__img {
  height: 257px;
  width: 485px;
}

.accordion-help-1 {
  width: 739.03px;
  margin-left: auto;
  margin-right: 106px;
  margin-top: 6px;
}

@media (max-width: 1360px) {
  .accordion-help-1 {
    width: calc(100% - 485px);
    margin-right: 0;
  }
}

@media (max-width: 575.98px) {
  .accordion-help-1 {
    margin: 0;
    padding-left: 0;
    margin-top: 7px;
    width: 100%;
  }
}

.accordion-help-1__link {
  padding: 0;
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.3px;
  text-decoration: none;
  position: relative;
  padding-right: 10px;
}

.accordion-help-1__link.collapsed::after {
  right: 6px;
  top: 7px;
  position: absolute;
  width: 16px;
  height: 10px;
  content: "";
  background-image: url("../images/accordion-help-5.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

@media (max-width: 575.98px) {
  .accordion-help-1__link.collapsed::after {
    right: 24px;
    top: 28px;
  }
}

@media (max-width: 575.98px) {
  .accordion-help-1__link {
    padding-right: 46px;
    padding-top: 23px;
    padding-bottom: 32px;
  }
}

.accordion-help-1__link::after {
  right: 6px;
  top: 7px;
  position: absolute;
  width: 16px;
  height: 10px;
  content: "";
  background-image: url("../images/accordion-help-4.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

@media (max-width: 575.98px) {
  .accordion-help-1__link::after {
    right: 24px;
    top: 28px;
  }
}

.accordion-help-1__link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

.accordion-help-1__link:hover {
  color: #000000;
  text-decoration: none;
}

.accordion-help-1__header {
  padding: 12.5px 0;
  border: 0;
  background: transparent;
}

@media (max-width: 575.98px) {
  .accordion-help-1__header {
    padding: 0;
  }
}

.accordion-help-1__body {
  padding: 0;
  padding-top: 4px;
  padding-bottom: 19px;
  letter-spacing: -0.5px;
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  color: #616161;
}

.accordion-help-1__body a {
  color: #de1c24;
  position: relative;
  background-size: 0% 1px;
  background-position: 0 calc(100% + 1px);
  display: inline;
  border-bottom: 1px solid transparent;
  background-repeat: no-repeat;
  -webkit-transition: all .4s ease-in 0s;
  transition: all .4s ease-in 0s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DE1C24), to(#DE1C24));
  background-image: linear-gradient(#DE1C24, #DE1C24);
  text-decoration: none;
}

.accordion-help-1__body a:hover {
  background-size: 100% 1px !important;
}

.accordion-help-1__body ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0;
}

.accordion-help-1__card {
  border: 0;
  border-bottom: 1px solid #E3E4E6 !important;
  background: transparent;
}

@media (max-width: 575.98px) {
  .accordion-help-1__card:nth-last-child(3) {
    border-bottom: 0 !important;
  }
}

.btn-help-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #404040;
  margin-left: 89px;
  margin-top: 40px;
  border-radius: 10px;
  width: 160px;
  height: 43px;
  padding: 0;
}

@media (max-width: 575.98px) {
  .btn-help-1 {
    margin-left: 22px;
    margin-top: 14px;
  }
}

.btn-help-1__title {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 17px;
  margin-top: 9px;
}

.btn-help-1__icon {
  height: 18px;
  width: 18px;
  margin-top: 9px;
  margin-left: 13px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-help-1:hover {
  text-decoration: none;
}

.btn-help-1:hover .btn-help-1__icon {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.icon-help-1 {
  margin-top: 11px;
  margin-left: 2px;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .icon-help-1 {
    margin-top: 20px;
    text-align: center;
  }
}

.icon-help-1 img {
  width: 24px;
  height: 24px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.icon-help-1:hover img {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.endow-2__img img {
  max-width: 100%;
}

.endow-1 {
  position: relative;
}

@media (max-width: 575.98px) {
  .endow-1 {
    padding: 0 10px;
  }
}

.endow-1__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-left: 612px;
  grid-gap: 43px;
}

@media (max-width: 991.98px) {
  .endow-1__list {
    padding: 0 36px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__list {
    background: #FFFFFF;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    border-radius: 8px;
    grid-gap: 0;
    padding: 0 36px;
    padding-right: 16px;
  }
}

.endow-1__title {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #616161;
  margin-top: 14px;
}

@media (max-width: 575.98px) {
  .endow-1__title--1 {
    margin-top: 13px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__title--2 {
    margin-top: 13px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__title--3 {
    margin-top: -1px;
    letter-spacing: -0.3px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__title--4 {
    margin-top: 10px;
  }
}

.endow-1__img {
  position: absolute;
  top: 28px;
  left: -15px;
}

@media (max-width: 575.98px) {
  .endow-1__icon--1 {
    margin-left: 13px;
    padding-top: 29px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__icon--2 {
    margin-top: 30px;
    margin-left: 7px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__icon--3 {
    margin-top: 31px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__icon--4 {
    margin-top: 31px;
    margin-left: 3px;
  }
}

.endow-banner-1 {
  padding-left: 16px;
  padding-right: 17px;
  margin-top: 100px;
  position: relative;
}

.endow-banner-1 span {
  color: #FFE282;
}

.endow-banner-1 img {
  max-width: 100%;
}

.endow-banner-1__link {
  position: absolute;
  font-family: "SF Pro Display Regular";
  font-size: 14px;
  color: #fff;
  bottom: 15px;
  right: 61px;
  width: 426px;
}

.endow-banner-1__link a {
  text-decoration: underline;
  color: #fff;
}

.endow-banner-2 {
  margin-left: 9px;
  margin-right: 9px;
  padding-top: 79px;
  background: #ffffff;
  position: relative;
}

.endow-banner-2 span {
  color: #FFE282;
}

.endow-banner-2__img {
  max-width: 100%;
}

.endow-banner-2__link {
  position: absolute;
  font-family: "SF Pro Display Regular";
  font-size: 9px;
  color: #fff;
  bottom: 15px;
  left: 31px;
  width: 131px;
}

.endow-banner-2__link a {
  text-decoration: underline;
  color: #fff;
}

.endow-bg-1 {
  background: url(../images/endow-bg-1.png);
  height: 968px;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
}

.endow-container {
  background: url(../images/endow-bg-1.png);
  height: 968px;
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 1199.98px) {
  .endow-container {
    height: auto;
  }
}

@media (max-width: 575.98px) {
  .endow-container {
    height: auto;
    height: auto;
    background: url(../images/tcb-endow-3.png);
    background-size: cover;
    background-position: 0 -401px;
    background-color: #ffffff;
    background-repeat: no-repeat;
  }
}

.btn-endow-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: 0;
  margin-top: 9px;
  background: transparent;
}

@media (max-width: 575.98px) {
  .btn-endow-1 {
    margin-top: 62px;
    margin-left: 55px;
  }
}

.btn-endow-1__title {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.btn-endow-1__icon {
  height: 15.17px;
  width: 16px;
  margin-left: 16px;
  margin-top: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-endow-1:hover {
  text-decoration: none;
}

.btn-endow-1:hover .btn-endow-1__icon {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer {
  background: #212121;
  padding: 48px 0;
  padding-left: 49px;
  padding-top: 32px;
}

@media (max-width: 575.98px) {
  .footer {
    padding-left: 0;
  }
}

.footer-logo-1__img {
  height: 41px;
  width: 288px;
  margin-top: 17px;
}

.footer-location-1 {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 52px;
}

@media (max-width: 575.98px) {
  .footer-location-1 {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 28px;
  }
}

.footer-location-1:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-location-1__icon {
  width: 14.91px;
  height: 9.44px;
  margin-top: 7px;
  margin-left: 10px;
}

.footer-social-1__title {
  color: #A2A2A2;
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 23px;
  margin-right: 49px;
}

@media (max-width: 575.98px) {
  .footer-social-1__title {
    margin-top: 33px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    font-size: 14px;
  }
}

.footer-social-1__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 47px;
  margin-top: 12px;
}

@media (max-width: 575.98px) {
  .footer-social-1__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: -22px;
    margin-top: 11px;
  }
}

.footer-social-1__link {
  margin-left: 21px;
}

.footer-social-1__img--fb {
  height: 31.81px;
  width: 32px;
}

.footer-social-1__img--in {
  height: 32px;
  width: 32px;
}

.footer-social-1__img--ytb {
  height: 32px;
  width: 32px;
}

.footer-social-1__img--zalo {
  height: 32px;
  width: 32px;
}

.footer-line-1 {
  height: 3px;
  background: #333333;
  margin-right: 46px;
  margin-top: 65px;
}

@media (max-width: 575.98px) {
  .footer-line-1 {
    margin-right: 8px;
    margin-top: 31px;
  }
}

.footer-link-1 {
  margin-top: 37px;
  margin-left: 17px;
}

@media (max-width: 575.98px) {
  .footer-link-1 {
    margin-top: 31px;
    margin-left: -1px;
  }
}

.footer-link-1 span {
  font-family: "SF Pro Display Regular";
  font-size: 14px;
  color: #A2A2A2;
}

@media (max-width: 575.98px) {
  .footer-link-1 span {
    display: block;
  }
}

.footer-link-1 span a {
  color: #A2A2A2;
  margin-left: 29px;
}

@media (max-width: 575.98px) {
  .footer-link-1 span a {
    margin-left: 0px;
    margin-top: 8px;
    display: block;
  }
}

.footer-hotline-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 53px;
  margin-top: 9px;
}

.footer-hotline-1__title {
  font-family: "SF Pro Display Light";
  font-size: 12px;
  color: #C4C4C4;
  text-transform: uppercase;
  margin-right: 9.7px;
  letter-spacing: 0.3px;
}

.footer-hotline-1 a {
  font-family: "SF Pro Display Bold";
  font-size: 12px;
  color: #C4C4C4;
  letter-spacing: 0.4px;
}

.footer-hotline-1__separate {
  font-size: 12px;
  color: #C4C4C4;
  margin-left: 10px;
  margin-right: 10px;
}

.tcb-form {
  background: #F3F3F3;
}

.form-1 {
  padding-left: 245px;
  padding-top: 35px;
  padding-right: 398px;
  padding-bottom: 58px;
}

@media (max-width: 1199.98px) {
  .form-1 {
    padding-left: 10px;
    padding-right: 0;
    padding-top: 25px;
  }
}

@media (max-width: 575.98px) {
  .form-1 {
    padding-left: 10px;
    padding-right: 0;
    padding-top: 25px;
  }
}

.form-text-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-family: "SF Pro Display Regular";
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 12px;
}

@media (max-width: 575.98px) {
  .form-text-4 {
    margin-top: 15px;
    margin-bottom: 7px;
  }
}

.form-text-4 span {
  margin-right: 7px;
  margin-left: 7px;
}

.form-text-1 {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  margin-bottom: 21px;
}

@media (max-width: 575.98px) {
  .form-text-1 {
    margin-bottom: 5px;
  }
}

.form-text-2 {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  margin-bottom: 16px;
  color: #616161;
}

@media (max-width: 575.98px) {
  .form-text-2 {
    margin-bottom: 12px;
  }
}

.select2-search--dropdown {
  display: none !important;
}

.select2-container .select2-selection--single {
  background: #FFFFFF !important;
  border: 1px solid #E4E4E6 !important;
  border-radius: 6px !important;
  height: 45px !important;
  width: 100% !important;
}

.select2-container {
  width: 100% !important;
}

.select2-dropdown {
  background: #FFFFFF !important;
  border-radius: 6px !important;
  border: none !important;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 294px !important;
  padding: 7px;
}

.select2-results__option--selectable {
  border-bottom: 0.5px solid #EEEEEE !important;
  padding: 6px 13px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  content: "";
  background-image: url("../images/js-business-type-1.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  width: 16px !important;
  height: 11px !important;
  top: 18px !important;
  right: 19px !important;
}

.select4 .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 18px !important;
  right: 19px !important;
}

.select3 .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 23px !important;
  right: 23px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: "SF Pro Display Regular";
  font-size: 14px;
}

.select4 .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 8px 16px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #DCE7F3 !important;
  color: #000000 !important;
}

.form-text-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 24px;
}

@media (max-width: 575.98px) {
  .form-text-3 {
    margin-bottom: 34px;
  }
}

.form-text-3__title {
  min-width: 617px;
  max-width: 617px;
  letter-spacing: 0.9px;
  line-height: 22.4px;
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  color: #616161;
}

@media (max-width: 575.98px) {
  .form-text-3__title {
    min-width: 239px;
    max-width: 239px;
    letter-spacing: 0.1px;
    line-height: 23.4px;
  }
}

.form-text-3__title span {
  color: #ED1C24;
}

.form-text-3__cbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 16px;
  margin-top: -2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-text-3__cbs .el-radio:last-child {
  margin-left: 14px;
}

.el-radio-style {
  width: 22px !important;
  height: 22px !important;
  margin: 0;
}

.el-radio-style::before {
  width: 22px !important;
  height: 22px !important;
  border: 1px solid #616161 !important;
}

.el-radio-style:after {
  width: 14px !important;
  height: 14px !important;
  top: 4px !important;
  left: 4px !important;
  background: #D0D0D0 !important;
  display: block !important;
}

.el-radio > input[type="radio"]:checked + .el-radio-style:after,
.el-checkbox > input[type="checkbox"]:checked + .el-checkbox-style:after {
  background: #616161 !important;
}

.btn-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  width: 291px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 15px 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .btn-1 {
    margin-bottom: 34px;
  }
}

.btn-1__icon {
  margin-top: 5px;
}

.btn-1:hover {
  background: #000000;
  color: #fff;
}

.form-text-5__line {
  background: #C7C7C7;
  height: 1px;
  width: 100%;
  margin-bottom: 20px;
}

.form-text-5__note {
  font-family: "SF Pro Display Regular";
  font-size: 14px;
  line-height: 23.7px;
  color: #616161;
}

.alert2 {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-left: 5px solid #ED1C24;
  padding-left: 34px;
  padding-right: 43px;
  padding-top: 26px;
  padding-bottom: 25px;
}

.alert2-title {
  font-family: "SF Pro Display Bold";
  font-size: 21px;
  line-height: 24px;
  letter-spacing: -0.4px;
  margin-bottom: 4px;
}

.alert2-subtitle {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  line-height: 31px;
  color: #616161;
}

.alert2-p2 .alert2-subtitle {
  line-height: 24px;
}

.alert2-p3 {
  width: 569px;
}

@media (max-width: 575.98px) {
  .alert2-p3 {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.alert2-p4 {
  padding-left: 40px;
  padding-bottom: 31px;
}

.alert2-p4 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 575.98px) {
  .alert2-p4 ul {
    margin-left: 10px;
  }
}

.alert2-p5 {
  position: relative;
}

.alert2-p5 .alert2-no {
  width: 29px;
  height: 29px;
  border: 1px solid #000000;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: -15px;
  left: 11px;
  background: #ffffff;
}

@media (max-width: 575.98px) {
  .alert2-p5 {
    width: 337px;
    height: 100% !important;
    padding-left: 20px;
    padding-right: 10px;
    letter-spacing: -0.6px;
  }
}

.alert2-p6 {
  height: 165px;
}

@media (max-width: 575.98px) {
  .alert2-p6 {
    height: auto;
  }
}

.alert2-p7 {
  height: 181px;
}

@media (max-width: 575.98px) {
  .alert2-p7 {
    height: auto;
  }
}

.alert2-p8 {
  padding-left: 25px;
  padding-bottom: 31px;
}

.alert2-p9 {
  width: 569px;
  height: 104px;
  margin-left: 19px;
}

@media (max-width: 575.98px) {
  .alert2-p9 {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.container3 {
  width: 1052px;
  margin: auto;
}

@media (max-width: 991.98px) {
  .container3 {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .container3 {
    width: 100%;
  }
}

.container4 {
  padding-left: 43px;
  padding-top: 58px;
}

@media (max-width: 575.98px) {
  .container4 {
    padding-left: 0;
  }
}

.container6 {
  width: 316px;
}

.img2 {
  margin-bottom: 24px;
}

.text3-item {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  line-height: 33px;
  color: #616161;
}

.text3-item:not(:last-child) {
  margin-bottom: 16px;
}

.btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  width: 291px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 15px 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .btn2 {
    margin: auto;
    margin-bottom: 34px;
  }
}

.btn2-icon {
  margin-top: 5px;
}

.btn2:hover {
  background: #000000;
  color: #fff;
}

.btn2-p1 {
  margin-top: 44px;
}

.step2 {
  padding-top: 34px;
  padding-bottom: 58px;
  background: #F3F3F3;
}

@media (max-width: 575.98px) {
  .step2 {
    padding-bottom: 23px;
  }
}

.form2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 13px;
}

@media (max-width: 575.98px) {
  .form2 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.form2-item:nth-last-child(2) {
  margin: 0 !important;
}

.form2-item:nth-last-child(1) {
  margin: 0 !important;
}

.form2-p1 {
  margin-top: 83px;
}

@media (max-width: 575.98px) {
  .form2-p1 {
    margin-top: 25px;
  }
}

.form2-p1 .form2-item {
  margin-bottom: 20px;
}

@media (max-width: 575.98px) {
  .form2-p1 .form2-item {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.mp1 {
  padding: 0 !important;
  margin-top: 35px;
  margin-bottom: 40px;
}

.label2 {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
}

.label2 span {
  color: #ED1C24;
}

.checkbox2 {
  font-family: "SF Pro Display Regular";
  font-size: 14px;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.checkbox2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox2 .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 5px;
}

.checkbox2:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox2 input:checked ~ .checkmark {
  background-color: #ED1C24;
}

.checkbox2 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox2 input:checked ~ .checkmark:after {
  display: block;
}

.checkbox2 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input2 {
  background: #FFFFFF;
  border: 1px solid #E4E4E6;
  border-radius: 6px;
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  line-height: 22px;
  height: 55px;
  padding-left: 26px;
  padding-right: 26px;
}

.select3 .select2-selection--single {
  height: 55px !important;
}

.select3 .select2-selection__rendered {
  font-family: "SF Pro Display Regular" !important;
  font-size: 16px !important;
  padding: 12.6px 18px !important;
  padding-left: 31.3px !important;
  padding-right: 17px !important;
}

.btn3 {
  width: 100%;
  height: 57px;
  background: #000000;
  color: #FFFFFF;
}

.gird2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px;
}

.gird2::-webkit-scrollbar {
  display: none;
}

@media (max-width: 575.98px) {
  .gird2 {
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-gap: 6px;
    padding: 0;
  }
}

@media (max-width: 575.98px) {
  .gird2-item {
    padding: 20px 0;
  }
}

.gird2-item .alert2-subtitle {
  line-height: 24px;
}

.gird2-item p:last-child {
  margin: 0;
}

.gird2-item ul li {
  margin-bottom: 10px;
}

.gird2-item ul li:last-child {
  margin: 0;
}

.gird2-p1 {
  margin-bottom: 37px;
}

.btn4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  width: 291px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 15px 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .btn4 {
    margin: auto;
    margin-bottom: 34px;
  }
}

.btn4__icon {
  margin-top: 5px;
}

.btn4:hover {
  background: #000000;
  color: #fff;
}

.btn4-p1 {
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 40px;
}

.btn4-p2 {
  margin-bottom: 60px;
  margin-top: 33px;
}

.container7 {
  padding-left: 133px;
  padding-top: 0;
  padding-right: 122px;
  padding-bottom: 0;
}

@media (max-width: 575.98px) {
  .container7 {
    padding: 0;
  }
}

.container8 {
  padding-top: 28px;
  padding-bottom: 58px;
  background: #F3F3F3;
}

@media (max-width: 575.98px) {
  .container8 {
    padding-bottom: 23px;
  }
}

.text1 {
  font-family: "SF Pro Display Bold";
  font-size: 21px;
  color: #000000;
}

.text1-p1 {
  margin-left: 17.1px;
  letter-spacing: 0.3px;
}

.text2 {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  color: #000000;
}

.text2-p1 {
  margin-top: 2px;
  margin-left: 19px;
  color: #616161;
}

.text2-p2 {
  margin-left: 18px;
  margin-bottom: 27px;
  letter-spacing: 0.3px;
  color: #616161;
}

.text2-p3 {
  color: #DE1C24;
}

.accordion2 {
  margin: auto;
  width: 100%;
}

.accordion2-p1 {
  margin-top: 22px;
}

.accordion2-p1 > .card {
  border: 0;
  background: transparent;
  border-top: 1px solid #FFFFFF;
}

.accordion2-p1 > .card > .card-header {
  height: 74px;
  padding: 0;
  background: transparent;
  border: 0;
}

.accordion2-p1 > .card > .card-header button {
  padding: 19px 17px;
}

.accordion2-p1 > .card > .card-header button::after {
  left: 293px;
  top: 31px;
  position: absolute;
  width: 16px;
  height: 10px;
  content: "";
  background-image: url("../images/accordion-help-4.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.accordion2-p1 > .card > .card-header button.collapsed::after {
  left: 293px;
  top: 31px;
  position: absolute;
  width: 16px;
  height: 10px;
  content: "";
  background-image: url("../images/accordion-help-5.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.accordion2-p1 > .card > .card-header button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

.accordion2-p1 > .card > .card-header button:hover {
  color: #000000;
  text-decoration: none;
}

.accordion2-p1 > .card .card-body {
  padding: 0;
}

.btn-back {
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  z-index: 1;
  opacity: 0;
}

.btn-back:hover {
  -webkit-transform: translateY(-5px) translateZ(0px);
          transform: translateY(-5px) translateZ(0px);
}

.indicator-p1 .indicator-list {
  margin-bottom: 23px;
}

.indicator-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indicator-item {
  width: 4px;
  height: 4px;
  background: #D6D6D6;
  border-radius: 50%;
}

.indicator-item:not(:last-child) {
  margin-right: 12px;
}

.indicator-item.active {
  background: #ED1C24;
}

.tab1 {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  color: #616161;
}

.tab1 .tab-pane {
  padding-top: 30px;
}

.tab1 .nav-tabs {
  margin: 0 1rem;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 575.98px) {
  .tab1 .nav-tabs {
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.tab1 .nav-tabs::-webkit-scrollbar {
  display: none;
}

.tab1 .nav-link {
  background: transparent !important;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  color: #616161;
}

.tab1 .nav-item:first-child {
  margin-right: 1rem;
}

.tab1 .nav-item:last-child {
  margin-left: 1rem;
}

.tab1 .nav-item {
  scroll-snap-align: start;
}

.tab1 .nav-link.active {
  border-bottom: 3px solid #ED1C24;
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  color: #000;
}

.discover2 {
  position: relative;
}

.discover2 .owl-dots {
  position: absolute;
  top: -30px;
  width: 100%;
  margin: 0 !important;
}

.discover2 .owl-dots .owl-dot span {
  background: #D6D6D6 !important;
  width: 4px !important;
  height: 4px !important;
}

.discover2 .owl-dots .owl-dot.active span {
  background: #ED1C24 !important;
}

.gird3 {
  position: relative;
  margin-top: 10px;
}

.gird3 .owl-dots {
  position: absolute;
  top: -30px;
  width: 100%;
  margin: 0 !important;
}

.gird3 .owl-dots .owl-dot span {
  background: #D6D6D6 !important;
  width: 4px !important;
  height: 4px !important;
}

.gird3 .owl-dots .owl-dot.active span {
  background: #ED1C24 !important;
}

.gird3 p:last-child {
  margin: 0;
}

.gird3 .alert2 {
  height: 217px !important;
  margin-bottom: 10px;
}

.gird3 .alert2-subtitle {
  line-height: 24px;
}

.gird3 ul li {
  margin-bottom: 10px;
}

.gird3 .owl-item {
  padding-top: 24px;
  padding-bottom: 10px;
  height: 290px !important;
}

.app1-techcombank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 4px;
}

@media (max-width: 768px) {
  .app1-techcombank {
    top: 40%;
  }
}

@media (max-width: 576px) {
  .app1-techcombank {
    -webkit-transform: scale(0.64);
            transform: scale(0.64);
    top: 32.1%;
    left: -29px;
  }
}

.app1-techcombank-icon {
  width: 73.91px;
  height: 73.91px;
  margin-right: 19px;
}

.app1-techcombank-qr {
  width: 73.91px;
  height: 73.91px;
  margin-right: 18px;
}

.app1-techcombank-divider {
  background: #D0D0D0;
  width: 1px;
  height: 68.93px;
  margin-right: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.app1-techcombank-phone {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.app1-techcombank-phone-ios {
  display: block;
}

.app1-techcombank-phone-ios img {
  width: 101.86px;
  margin-bottom: 4px;
}

.app1-techcombank-phone-android {
  display: block;
}

.app1-techcombank-phone-android img {
  width: 101.86px;
}

.more1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.more1__link {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  color: #616161;
  text-decoration: underline;
}

.more1__link:hover {
  color: #ED1C24;
}

@media (max-width: 575.98px) {
  .more1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.more2 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.more2__link {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  color: #616161;
  text-decoration: underline;
}

.more2__link:hover {
  color: #ED1C24;
}

@media (max-width: 575.98px) {
  .more2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=tcb.css.map */