@font-face {
  font-family: "SF Pro Display Regular";
  src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
  font-family: "SF Pro Display Light";
  src: url(../fonts/SF-Pro-Display-Light.otf);
}

@font-face {
  font-family: "SF Pro Display Semibold";
  src: url(../fonts/SF-Pro-Display-Semibold.otf);
}

.tcb-container {
  max-width: 1440px;
}

.tcb-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

@media (max-width: 575.98px) {
  .tcb-header {
    display: block;
  }
}

.tcb-header--discover {
  padding-left: 65px;
}

@media (max-width: 575.98px) {
  .tcb-header--discover {
    padding-left: 20px;
  }
}

.tcb-header--endow {
  margin-bottom: 26px;
  padding-left: 65px;
  margin-top: 31px;
}

@media (max-width: 575.98px) {
  .tcb-header--endow {
    padding-left: 20px;
    margin-top: 48px;
    margin-bottom: 18px;
  }
}

.tcb-header--help {
  padding-left: 69px;
  margin-bottom: -15px;
}

@media (max-width: 575.98px) {
  .tcb-header--help {
    padding: 0;
    margin: 0;
  }
}

.tcb-header__separate {
  width: 1px;
  background: #000000;
  height: 31px;
  margin-left: 33px;
  margin-top: 16px;
}

.tcb-header__title {
  font-family: "SF Pro Display Light";
  font-size: 40px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -0.7px;
}

.tcb-header__title--help {
  letter-spacing: 0px;
}

@media (max-width: 575.98px) {
  .tcb-header__title--help {
    margin-top: 30px;
    margin-left: 22px;
  }
}

.header {
  background: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 8000;
}

.header__container {
  padding-left: 56px;
  padding-right: 48px;
  height: 72px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 232px;
  height: 32px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__hotline {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 46px;
}

.header__login {
  width: 169px;
  height: 72px;
}

.header-sp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 58px;
}

.header-sp__logo img {
  width: 35px;
  height: 46px;
  margin-top: 6px;
  margin-left: 16px;
}

.header-sp__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-sp__hotline {
  margin-right: 10px;
}

.hotline-2 {
  margin-top: 15px;
  letter-spacing: 0.4px;
  margin-bottom: -2px;
}

.hotline-2__title {
  font-family: "SF Pro Display Bold";
  font-size: 12px;
  text-align: right;
}

.hotline-2__title span {
  font-family: "SF Pro Display Light";
}

.hotline-3 {
  letter-spacing: 0.4px;
}

.hotline-3__title {
  font-family: "SF Pro Display Bold";
  font-size: 12px;
  text-align: right;
}

.hotline-3__title span {
  font-family: "SF Pro Display Light";
}

.language-1__title {
  font-family: "SF Pro Display Regular";
  font-size: 14px;
  margin-top: 15px;
  padding: 0 9.3px;
}

.language-1__icon {
  height: 4.94px;
  width: 8px;
  margin-left: 17px;
  margin-top: -22px;
}

.login-2 {
  background: #ED1C24;
  padding: 16px 14px;
}

.login-2__icon {
  width: 16px;
  height: 16px;
}

.login-1 {
  background: #ED1C24;
  padding: 24px 16px;
}

.login-1:hover {
  text-decoration: none;
}

.login-1__title {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.login-1__icon {
  height: 16px;
  width: 16px;
  margin-left: 7px;
  margin-bottom: 5px;
}

.hotline-1__link {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.6px;
}

.hotline-1__link:hover {
  text-decoration: none;
  color: #ED1C24;
}

.hotline-1__title {
  margin-right: 13px;
}

.hotline-1__separate {
  margin-right: 15px;
  margin-left: 13px;
}

.btn-header-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .btn-header-1 {
    margin-top: -9px;
    margin-left: -32px;
  }
}

.btn-header-1__title {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 21px;
  margin-left: 28.6px;
  letter-spacing: 0.1px;
  color: #000000;
}

@media (max-width: 575.98px) {
  .btn-header-1__title {
    display: block;
  }
}

.btn-header-1__icon {
  margin-top: 18px;
  margin-left: 24px;
}

.tcb-hero {
  position: relative;
}

.tcb-hero img {
  max-width: 100%;
}

.hero-1 {
  position: absolute;
  bottom: 0;
}

.btn-hero-1 {
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #FFFFFF;
  border-bottom: 0;
  font-family: "SF Pro Display Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  height: 58px;
  width: 291px;
  margin-left: 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .btn-hero-1 {
    height: 61px;
    margin-left: 27px;
  }
}

.btn-hero-1__icon {
  margin-left: 85px;
  margin-top: 21px;
}

.btn-hero-1__title {
  margin-top: 12px;
  margin-left: 11px;
  letter-spacing: 0.3px;
}

.tcb-features {
  padding-top: 45px;
  padding-bottom: 38px;
  margin-top: 1049px;
}

@media (max-width: 575.98px) {
  .tcb-features {
    padding-top: 25px;
  }
}

.feature-1 {
  padding-left: 65px;
  padding-right: 42px;
}

@media (max-width: 575.98px) {
  .feature-1 {
    padding: 0;
  }
}

.feature-1__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  padding: 10px;
}

@media (max-width: 575.98px) {
  .feature-1__list {
    grid-gap: 16px;
    overflow-x: auto;
    grid-gap: 7px;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% - 2rem);
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.feature-1__item {
  text-align: center;
}

@media (max-width: 575.98px) {
  .feature-1__item {
    height: 341px;
    width: 280px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-top: 28px;
  }
}

.feature-1__title {
  font-family: "SF Pro Display Regular";
  font-size: 24px;
  font-weight: 400;
}

.feature-1__title--1 {
  margin-top: 12px;
  margin-bottom: 18px;
}

.feature-1__title--2 {
  margin-top: 3px;
  margin-bottom: 19px;
  position: relative;
  margin-left: -15px;
}

.feature-1__title--2::after {
  content: "";
  height: 1px;
  background: #DE1C24;
  width: 43px;
  position: absolute;
  left: calc(50% - 21.5px);
  bottom: -9px;
}

.feature-1__title--3 {
  margin-top: 4px;
  margin-bottom: 17px;
}

.feature-1__icon--3 {
  margin-top: -17px;
}

.feature-1__subtitle {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.feature-1__subtitle--2 {
  margin-left: -15px;
}

.tcb-discover {
  background: #F7F6F3;
  padding-top: 51px;
  padding-bottom: 39px;
}

@media (max-width: 575.98px) {
  .tcb-discover {
    padding-top: 27px;
    padding-bottom: 5px;
  }
}

@media (max-width: 575.98px) {
  .discover-1 {
    padding-top: 11px;
  }
}

.discover-1__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  padding-left: 22px;
  padding-right: 31px;
}

@media (max-width: 575.98px) {
  .discover-1__list {
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%);
    -ms-grid-columns: none;
        grid-template-columns: none;
    padding: 0;
  }
}

.discover-card-1 {
  height: 424px;
}

@media (max-width: 575.98px) {
  .discover-card-1 {
    height: auto;
  }
}

.discover-card-1__title {
  font-family: "SF Pro Display Semibold";
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.discover-card-1__text {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.discover-card-1__body {
  padding: 22px 33px;
}

.discover-card-1__card {
  height: 424px;
  border: 0;
}

.help-2__img img {
  max-width: 100%;
}

.tcb-help {
  padding-top: 47px;
  padding-bottom: 84px;
  background: #F5F5F5;
}

@media (max-width: 575.98px) {
  .tcb-help {
    padding-top: 44px;
  }
}

.container-help-1 {
  position: relative;
}

.help-banner-1 {
  position: absolute;
  left: -15px;
  top: 55px;
}

.help-banner-1__img {
  height: 257px;
  width: 485px;
}

.accordion-help-1 {
  width: 739.03px;
  margin-left: auto;
  margin-right: 106px;
  margin-top: 6px;
}

@media (max-width: 575.98px) {
  .accordion-help-1 {
    width: 326px;
    margin: 0;
    padding-left: 27px;
    margin-top: 7px;
  }
}

.accordion-help-1__link {
  padding: 0;
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.3px;
  text-decoration: none;
  position: relative;
}

.accordion-help-1__link.collapsed::after {
  right: 6px;
  top: 7px;
  position: absolute;
  width: 16px;
  height: 10px;
  content: "";
  background-image: url("../images/accordion-help-5.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

@media (max-width: 575.98px) {
  .accordion-help-1__link.collapsed::after {
    right: 24px;
    top: 28px;
  }
}

@media (max-width: 575.98px) {
  .accordion-help-1__link {
    padding-right: 46px;
    padding-top: 23px;
    padding-bottom: 32px;
  }
}

.accordion-help-1__link::after {
  right: 6px;
  top: 7px;
  position: absolute;
  width: 16px;
  height: 10px;
  content: "";
  background-image: url("../images/accordion-help-4.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

@media (max-width: 575.98px) {
  .accordion-help-1__link::after {
    right: 24px;
    top: 28px;
  }
}

.accordion-help-1__link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

.accordion-help-1__link:hover {
  color: #000000;
  text-decoration: none;
}

.accordion-help-1__header {
  padding: 12.5px 0;
  border: 0;
  background: transparent;
}

@media (max-width: 575.98px) {
  .accordion-help-1__header {
    padding: 0;
  }
}

.accordion-help-1__body {
  padding: 0;
  padding-top: 4px;
  padding-bottom: 30px;
}

@media (max-width: 575.98px) {
  .accordion-help-1__body {
    margin-top: -19px;
  }
}

.accordion-help-1__card {
  border: 0;
  border-bottom: 1px solid #E3E4E6 !important;
  background: transparent;
}

.accordion-help-1__card:last-child {
  border-bottom: 0;
}

.btn-help-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #404040;
  margin-left: 89px;
  margin-top: 40px;
  border-radius: 10px;
  width: 160px;
  height: 43px;
  padding: 0;
}

@media (max-width: 575.98px) {
  .btn-help-1 {
    margin-left: 22px;
    margin-top: 14px;
  }
}

.btn-help-1__title {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 17px;
  margin-top: 9px;
}

.btn-help-1__icon {
  height: 18px;
  width: 18px;
  margin-top: 9px;
  margin-left: 13px;
}

.icon-help-1 {
  margin-top: 11px;
  margin-left: 2px;
}

.icon-help-1 img {
  width: 24px;
  height: 24px;
}

.endow-2__img img {
  max-width: 100%;
}

.endow-1 {
  position: relative;
}

@media (max-width: 575.98px) {
  .endow-1 {
    padding: 0 10px;
  }
}

.endow-1__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-left: 612px;
  grid-gap: 43px;
}

@media (max-width: 575.98px) {
  .endow-1__list {
    background: #FFFFFF;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    border-radius: 8px;
    grid-gap: 0;
    padding: 0 36px;
    padding-right: 16px;
  }
}

.endow-1__title {
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #4D4D4D;
  margin-top: 14px;
}

@media (max-width: 575.98px) {
  .endow-1__title--1 {
    margin-top: 13px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__title--2 {
    margin-top: 13px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__title--3 {
    margin-top: -1px;
    letter-spacing: -0.3px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__title--4 {
    margin-top: 10px;
  }
}

.endow-1__img {
  position: absolute;
  top: 28px;
  left: -15px;
}

@media (max-width: 575.98px) {
  .endow-1__icon--1 {
    margin-left: 13px;
    padding-top: 29px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__icon--2 {
    margin-top: 30px;
    margin-left: 7px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__icon--3 {
    margin-top: 31px;
  }
}

@media (max-width: 575.98px) {
  .endow-1__icon--4 {
    margin-top: 31px;
    margin-left: 3px;
  }
}

.endow-banner-1 {
  padding-left: 16px;
  padding-right: 17px;
  margin-top: -11px;
}

.endow-banner-1 img {
  max-width: 100%;
}

.endow-banner-2 {
  margin-top: 79px;
  padding: 0 9px;
}

.endow-banner-2__img {
  max-width: 100%;
}

.endow-bg-1 {
  background: url(../images/endow-bg-1.png);
  height: 968px;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
}

.endow-container {
  background: url(../images/endow-bg-1.png);
  height: 968px;
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 575.98px) {
  .endow-container {
    height: auto;
  }
}

.btn-endow-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: 0;
  margin-top: 9px;
  background: transparent;
}

@media (max-width: 575.98px) {
  .btn-endow-1 {
    margin-top: 62px;
    margin-left: 55px;
  }
}

.btn-endow-1__title {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.btn-endow-1__icon {
  height: 15.17px;
  width: 16px;
  margin-left: 16px;
  margin-top: 2px;
}

.footer {
  background: #212121;
  padding: 48px 0;
  padding-left: 49px;
  padding-top: 32px;
  padding-left: 2px;
  margin-top: 130px;
}

.footer-logo-1__img {
  height: 41px;
  width: 288px;
}

.footer-location-1 {
  font-family: "SF Pro Display Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 52px;
}

@media (max-width: 575.98px) {
  .footer-location-1 {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 28px;
  }
}

.footer-location-1:hover {
  color: #FFFFFF;
}

.footer-location-1__icon {
  width: 14.91px;
  height: 9.44px;
  margin-top: 7px;
  margin-left: 10px;
}

.footer-social-1__title {
  color: #A2A2A2;
  font-family: "SF Pro Display Regular";
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 23px;
  margin-right: 49px;
}

@media (max-width: 575.98px) {
  .footer-social-1__title {
    margin-top: 33px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    font-size: 14px;
  }
}

.footer-social-1__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 47px;
  margin-top: 12px;
}

@media (max-width: 575.98px) {
  .footer-social-1__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: -22px;
    margin-top: 11px;
  }
}

.footer-social-1__link {
  margin-left: 21px;
}

.footer-social-1__img--fb {
  height: 31.81px;
  width: 32px;
}

.footer-social-1__img--in {
  height: 32px;
  width: 32px;
}

.footer-social-1__img--ytb {
  height: 32px;
  width: 32px;
}

.footer-social-1__img--zalo {
  height: 32px;
  width: 32px;
}

.footer-line-1 {
  height: 3px;
  background: #333333;
  margin-right: 46px;
  margin-top: 48px;
}

@media (max-width: 575.98px) {
  .footer-line-1 {
    margin-right: 8px;
    margin-top: 31px;
  }
}

.footer-link-1 {
  margin-top: 37px;
  margin-left: 17px;
}

@media (max-width: 575.98px) {
  .footer-link-1 {
    margin-top: 31px;
    margin-left: -1px;
  }
}

.footer-link-1 span {
  font-family: "SF Pro Display Regular";
  font-size: 14px;
  color: #A2A2A2;
}

@media (max-width: 575.98px) {
  .footer-link-1 span {
    display: block;
  }
}

.footer-link-1 span a {
  color: #A2A2A2;
  margin-left: 29px;
}

@media (max-width: 575.98px) {
  .footer-link-1 span a {
    margin-left: 0px;
    margin-top: 8px;
    display: block;
  }
}

.footer-hotline-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 53px;
  margin-top: 9px;
}

.footer-hotline-1__title {
  font-family: "SF Pro Display Light";
  font-size: 12px;
  color: #C4C4C4;
  text-transform: uppercase;
  margin-right: 9.7px;
  letter-spacing: 0.3px;
}

.footer-hotline-1 a {
  font-family: "SF Pro Display Bold";
  font-size: 12px;
  color: #C4C4C4;
  letter-spacing: 0.4px;
}

.footer-hotline-1__separate {
  font-size: 12px;
  color: #C4C4C4;
  margin-left: 10px;
  margin-right: 10px;
}
/*# sourceMappingURL=tcb.css.map */